@font-face {
  font-family: "iconfont"; /* Project id 3874932 */
  src: url('iconfont.woff2?t=1675189279388') format('woff2'),
       url('iconfont.woff?t=1675189279388') format('woff'),
       url('iconfont.ttf?t=1675189279388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e660";
}

.icon-zhanghaodenglu:before {
  content: "\e70d";
}

